<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="one.com.pesosense">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".UtilsApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.Splashscreen"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AppGuide"
            android:label="@string/title_activity_app_guide"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:name=".activity.PesoActivity"
            android:label="@string/title_activity_peso" />
        <activity
            android:name=".activity.Login"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activity.TabActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activity.Signup"
            android:label="@string/title_activity_signup" />
        <activity
            android:name=".activity.GovernmentPayment"
            android:label="@string/title_activity_government_payment"
            android:parentActivityName=".activity.PesoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="one.com.pesosense.activity.PesoActivity" />
        </activity>
        <activity
            android:name=".activity.UserInformation"
            android:label="@string/title_activity_signup" />
    </application>

</manifest>
